/*Header*/

header{
    width: 100%;
    height: 25%;
    /*background-image: url('./img/pattern.png');*/
    background-color: blueviolet;
}

#logo{
    width: 25%;
    height: 25%;
}

/*Main*/

#Author {
    color: grey;
    line-height: 10px;
}

a{
    text-decoration: none;
    color: rgb(0, 151, 197);
}